<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdm.Contract.mapper.ContractMapper">

    <select id="InsuranceList" resultType="com.sdm.domain.InsuranceVO">
        SELECT * FROM Insurance
    </select>

    <insert id="addContract">
        INSERT INTO SCOTT.CONTRACT
            (CONTRACTID, CLIENTID, INSURANCEID, INSURANCEPEE, APPROVECHECK)
        VALUES(CONTRACT_ID.NEXTVAL, #{clientId}, #{insuranceId}, #{insurancePee},'미승인')
    </insert>

    <select id="contractList" resultType="com.sdm.domain.ContractVO">
        SELECT * FROM Contract WHERE ClientID = #{clientId}
    </select>

    <select id="cInsuranceList" resultType="com.sdm.domain.InsuranceVO">
        SELECT * FROM Insurance WHERE InsuranceID = #{insuranceId}
    </select>

    <delete id="deleteContract">
        DELETE FROM Contract WHERE CLIENTID = #{clientId} AND INSURANCEID = #{insuranceId}
    </delete>
</mapper>